openapi: 3.1.0
info:
  title: AI Part Designer API
  description: |
    RESTful API for AI-powered 3D part design and generation platform.
    
    ## Authentication
    This API uses JWT Bearer tokens for authentication. Include the token in the 
    `Authorization` header as `Bearer <token>`.
    
    ## Rate Limiting
    - Free tier: 30 requests/minute
    - Pro tier: 100 requests/minute
    - Enterprise tier: 500 requests/minute
    
    Rate limit headers are included in all responses:
    - `X-RateLimit-Limit`: Maximum requests per window
    - `X-RateLimit-Remaining`: Remaining requests in window
    - `X-RateLimit-Reset`: Unix timestamp when window resets
    
    ## Versioning
    API version is specified in the URL path: `/api/v1/`
  version: 1.0.0
  contact:
    name: API Support
    email: api-support@aipartdesigner.com
  license:
    name: Proprietary
    url: https://aipartdesigner.com/terms

servers:
  - url: https://api.aipartdesigner.com/api/v1
    description: Production server
  - url: https://api.staging.aipartdesigner.com/api/v1
    description: Staging server
  - url: http://localhost:8000/api/v1
    description: Local development

tags:
  - name: Authentication
    description: User authentication and token management
  - name: Users
    description: User profile and settings management
  - name: Designs
    description: Design CRUD operations
  - name: Templates
    description: Template catalog and browsing
  - name: Jobs
    description: Async job submission and tracking
  - name: Exports
    description: File export operations

paths:
  # ============================================================================
  # AUTHENTICATION
  # ============================================================================
  /auth/register:
    post:
      tags: [Authentication]
      summary: Register a new user account
      operationId: registerUser
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [email, password, displayName]
              properties:
                email:
                  type: string
                  format: email
                  example: user@example.com
                password:
                  type: string
                  format: password
                  minLength: 8
                  example: SecureP@ss123
                displayName:
                  type: string
                  minLength: 2
                  maxLength: 100
                  example: John Doe
      responses:
        '201':
          description: User registered successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '409':
          description: Email already registered
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /auth/login:
    post:
      tags: [Authentication]
      summary: Authenticate user and obtain tokens
      operationId: loginUser
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [email, password]
              properties:
                email:
                  type: string
                  format: email
                password:
                  type: string
                  format: password
                rememberMe:
                  type: boolean
                  default: false
                  description: Extends refresh token validity to 30 days
      responses:
        '200':
          description: Authentication successful
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'

  /auth/refresh:
    post:
      tags: [Authentication]
      summary: Refresh access token
      operationId: refreshToken
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [refreshToken]
              properties:
                refreshToken:
                  type: string
      responses:
        '200':
          description: Token refreshed successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'

  /auth/logout:
    post:
      tags: [Authentication]
      summary: Invalidate refresh token
      operationId: logoutUser
      security:
        - bearerAuth: []
      responses:
        '204':
          description: Logged out successfully

  /auth/password/reset:
    post:
      tags: [Authentication]
      summary: Request password reset email
      operationId: requestPasswordReset
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [email]
              properties:
                email:
                  type: string
                  format: email
      responses:
        '202':
          description: Reset email sent if account exists

  /auth/password/reset/{token}:
    post:
      tags: [Authentication]
      summary: Reset password with token
      operationId: resetPassword
      parameters:
        - name: token
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [password]
              properties:
                password:
                  type: string
                  format: password
                  minLength: 8
      responses:
        '200':
          description: Password reset successful
        '400':
          $ref: '#/components/responses/BadRequest'

  # ============================================================================
  # USERS
  # ============================================================================
  /users/me:
    get:
      tags: [Users]
      summary: Get current user profile
      operationId: getCurrentUser
      security:
        - bearerAuth: []
      responses:
        '200':
          description: User profile retrieved
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/User'
        '401':
          $ref: '#/components/responses/Unauthorized'
    
    patch:
      tags: [Users]
      summary: Update current user profile
      operationId: updateCurrentUser
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                displayName:
                  type: string
                  minLength: 2
                  maxLength: 100
      responses:
        '200':
          description: Profile updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/User'

  /users/me/settings:
    get:
      tags: [Users]
      summary: Get user settings
      operationId: getUserSettings
      security:
        - bearerAuth: []
      responses:
        '200':
          description: Settings retrieved
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserSettings'
    
    patch:
      tags: [Users]
      summary: Update user settings
      operationId: updateUserSettings
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UserSettings'
      responses:
        '200':
          description: Settings updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserSettings'

  /users/me/subscription:
    get:
      tags: [Users]
      summary: Get current subscription
      operationId: getSubscription
      security:
        - bearerAuth: []
      responses:
        '200':
          description: Subscription details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Subscription'

  # ============================================================================
  # TEMPLATES
  # ============================================================================
  /templates:
    get:
      tags: [Templates]
      summary: List available templates
      operationId: listTemplates
      parameters:
        - name: category
          in: query
          schema:
            type: string
            enum: [mechanical, enclosures, connectors, hardware, organizational, decorative, custom]
        - name: tier
          in: query
          description: Filter by required tier (returns templates at or below this tier)
          schema:
            type: string
            enum: [free, pro, enterprise]
        - name: search
          in: query
          schema:
            type: string
        - name: page
          in: query
          schema:
            type: integer
            default: 1
            minimum: 1
        - name: limit
          in: query
          schema:
            type: integer
            default: 20
            minimum: 1
            maximum: 100
      responses:
        '200':
          description: Templates list
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Template'
                  pagination:
                    $ref: '#/components/schemas/Pagination'

  /templates/{templateId}:
    get:
      tags: [Templates]
      summary: Get template details
      operationId: getTemplate
      parameters:
        - name: templateId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Template details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TemplateDetail'
        '404':
          $ref: '#/components/responses/NotFound'

  /templates/{templateId}/preview:
    post:
      tags: [Templates]
      summary: Generate preview with custom parameters
      operationId: previewTemplate
      security:
        - bearerAuth: []
      parameters:
        - name: templateId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                parameters:
                  type: object
                  additionalProperties: true
      responses:
        '200':
          description: Preview generated
          content:
            application/json:
              schema:
                type: object
                properties:
                  previewUrl:
                    type: string
                    format: uri
                  validationErrors:
                    type: array
                    items:
                      type: object
                      properties:
                        parameter:
                          type: string
                        message:
                          type: string

  # ============================================================================
  # DESIGNS
  # ============================================================================
  /designs:
    get:
      tags: [Designs]
      summary: List user's designs
      operationId: listDesigns
      security:
        - bearerAuth: []
      parameters:
        - name: projectId
          in: query
          schema:
            type: string
            format: uuid
        - name: status
          in: query
          schema:
            type: string
            enum: [draft, processing, ready, failed, archived]
        - name: sourceType
          in: query
          schema:
            type: string
            enum: [template, ai_generated, imported, modified]
        - name: search
          in: query
          schema:
            type: string
        - name: sortBy
          in: query
          schema:
            type: string
            enum: [created_at, updated_at, name]
            default: updated_at
        - name: sortOrder
          in: query
          schema:
            type: string
            enum: [asc, desc]
            default: desc
        - name: page
          in: query
          schema:
            type: integer
            default: 1
        - name: limit
          in: query
          schema:
            type: integer
            default: 20
            maximum: 100
      responses:
        '200':
          description: Designs list
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/DesignSummary'
                  pagination:
                    $ref: '#/components/schemas/Pagination'

    post:
      tags: [Designs]
      summary: Create a new design
      operationId: createDesign
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              oneOf:
                - $ref: '#/components/schemas/CreateDesignFromTemplate'
                - $ref: '#/components/schemas/CreateDesignFromDescription'
            examples:
              fromTemplate:
                summary: Create from template
                value:
                  sourceType: template
                  templateId: 123e4567-e89b-12d3-a456-426614174000
                  name: My Custom Bracket
                  projectId: 123e4567-e89b-12d3-a456-426614174001
                  parameters:
                    length: 100
                    width: 50
                    thickness: 5
              fromDescription:
                summary: Create from AI description
                value:
                  sourceType: ai_generated
                  name: Cable Organizer
                  projectId: 123e4567-e89b-12d3-a456-426614174001
                  description: A cable organizer that can hold 5 USB cables, with clips that snap closed
      responses:
        '202':
          description: Design creation initiated
          content:
            application/json:
              schema:
                type: object
                properties:
                  design:
                    $ref: '#/components/schemas/Design'
                  job:
                    $ref: '#/components/schemas/Job'
        '400':
          $ref: '#/components/responses/BadRequest'
        '402':
          description: Subscription tier insufficient
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /designs/{designId}:
    get:
      tags: [Designs]
      summary: Get design details
      operationId: getDesign
      security:
        - bearerAuth: []
      parameters:
        - name: designId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Design details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Design'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
    
    patch:
      tags: [Designs]
      summary: Update design metadata
      operationId: updateDesign
      security:
        - bearerAuth: []
      parameters:
        - name: designId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                  maxLength: 255
                description:
                  type: string
                tags:
                  type: array
                  items:
                    type: string
                isPublic:
                  type: boolean
      responses:
        '200':
          description: Design updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Design'
    
    delete:
      tags: [Designs]
      summary: Delete a design (soft delete)
      operationId: deleteDesign
      security:
        - bearerAuth: []
      parameters:
        - name: designId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '204':
          description: Design deleted

  /designs/{designId}/modify:
    post:
      tags: [Designs]
      summary: Modify existing design
      operationId: modifyDesign
      security:
        - bearerAuth: []
      parameters:
        - name: designId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              oneOf:
                - type: object
                  properties:
                    modificationType:
                      type: string
                      enum: [parameters]
                    parameters:
                      type: object
                      additionalProperties: true
                - type: object
                  properties:
                    modificationType:
                      type: string
                      enum: [description]
                    description:
                      type: string
                      description: Natural language modification request
      responses:
        '202':
          description: Modification job created
          content:
            application/json:
              schema:
                type: object
                properties:
                  job:
                    $ref: '#/components/schemas/Job'

  /designs/{designId}/versions:
    get:
      tags: [Designs]
      summary: List design versions
      operationId: listDesignVersions
      security:
        - bearerAuth: []
      parameters:
        - name: designId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Version history
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/DesignVersion'

  /designs/{designId}/versions/{versionId}:
    get:
      tags: [Designs]
      summary: Get specific version details
      operationId: getDesignVersion
      security:
        - bearerAuth: []
      parameters:
        - name: designId
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - name: versionId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Version details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DesignVersion'

  /designs/{designId}/versions/{versionId}/restore:
    post:
      tags: [Designs]
      summary: Restore design to specific version
      operationId: restoreDesignVersion
      security:
        - bearerAuth: []
      parameters:
        - name: designId
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - name: versionId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Version restored
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Design'

  # ============================================================================
  # EXPORTS
  # ============================================================================
  /designs/{designId}/export:
    post:
      tags: [Exports]
      summary: Export design to file format
      operationId: exportDesign
      security:
        - bearerAuth: []
      parameters:
        - name: designId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [format]
              properties:
                format:
                  type: string
                  enum: [stl, step, 3mf, obj, gltf]
                options:
                  type: object
                  properties:
                    quality:
                      type: string
                      enum: [low, medium, high]
                      default: medium
                    units:
                      type: string
                      enum: [mm, cm, in]
                      default: mm
                versionId:
                  type: string
                  format: uuid
                  description: Specific version to export. Defaults to current.
      responses:
        '200':
          description: Export ready (cached)
          content:
            application/json:
              schema:
                type: object
                properties:
                  downloadUrl:
                    type: string
                    format: uri
                  expiresAt:
                    type: string
                    format: date-time
        '202':
          description: Export job queued
          content:
            application/json:
              schema:
                type: object
                properties:
                  job:
                    $ref: '#/components/schemas/Job'

  # ============================================================================
  # JOBS
  # ============================================================================
  /jobs:
    get:
      tags: [Jobs]
      summary: List user's jobs
      operationId: listJobs
      security:
        - bearerAuth: []
      parameters:
        - name: status
          in: query
          schema:
            type: string
            enum: [pending, queued, processing, completed, failed, cancelled]
        - name: type
          in: query
          schema:
            type: string
            enum: [generate, modify, export, import, thumbnail]
        - name: page
          in: query
          schema:
            type: integer
            default: 1
        - name: limit
          in: query
          schema:
            type: integer
            default: 20
      responses:
        '200':
          description: Jobs list
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Job'
                  pagination:
                    $ref: '#/components/schemas/Pagination'

  /jobs/{jobId}:
    get:
      tags: [Jobs]
      summary: Get job status
      operationId: getJob
      security:
        - bearerAuth: []
      parameters:
        - name: jobId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Job status
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Job'
        '404':
          $ref: '#/components/responses/NotFound'

  /jobs/{jobId}/cancel:
    post:
      tags: [Jobs]
      summary: Cancel a pending job
      operationId: cancelJob
      security:
        - bearerAuth: []
      parameters:
        - name: jobId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Job cancelled
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Job'
        '400':
          description: Job cannot be cancelled (already completed/processing)

  # ============================================================================
  # PROJECTS
  # ============================================================================
  /projects:
    get:
      tags: [Projects]
      summary: List user's projects
      operationId: listProjects
      security:
        - bearerAuth: []
      responses:
        '200':
          description: Projects list
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Project'
    
    post:
      tags: [Projects]
      summary: Create a new project
      operationId: createProject
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [name]
              properties:
                name:
                  type: string
                  maxLength: 255
                description:
                  type: string
      responses:
        '201':
          description: Project created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Project'

# ==============================================================================
# COMPONENTS
# ==============================================================================
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT

  schemas:
    # --------------------------------------------------------------------------
    # Authentication
    # --------------------------------------------------------------------------
    AuthResponse:
      type: object
      properties:
        accessToken:
          type: string
        refreshToken:
          type: string
        expiresIn:
          type: integer
          description: Seconds until access token expires
        user:
          $ref: '#/components/schemas/User'

    # --------------------------------------------------------------------------
    # Users
    # --------------------------------------------------------------------------
    User:
      type: object
      properties:
        id:
          type: string
          format: uuid
        email:
          type: string
          format: email
        displayName:
          type: string
        role:
          type: string
          enum: [user, admin, moderator]
        status:
          type: string
          enum: [pending_verification, active, suspended]
        subscription:
          $ref: '#/components/schemas/SubscriptionSummary'
        createdAt:
          type: string
          format: date-time

    UserSettings:
      type: object
      properties:
        preferences:
          type: object
          properties:
            defaultUnits:
              type: string
              enum: [mm, cm, in]
            defaultExportFormat:
              type: string
              enum: [stl, step, 3mf, obj]
            theme:
              type: string
              enum: [light, dark, system]
            language:
              type: string
        notifications:
          type: object
          properties:
            email:
              type: object
              properties:
                jobComplete:
                  type: boolean
                weeklyDigest:
                  type: boolean
                marketing:
                  type: boolean

    Subscription:
      type: object
      properties:
        id:
          type: string
          format: uuid
        tier:
          type: string
          enum: [free, pro, enterprise]
        status:
          type: string
          enum: [active, past_due, canceled, expired]
        currentPeriodStart:
          type: string
          format: date-time
        currentPeriodEnd:
          type: string
          format: date-time
        cancelAtPeriodEnd:
          type: boolean
        features:
          $ref: '#/components/schemas/TierFeatures'

    SubscriptionSummary:
      type: object
      properties:
        tier:
          type: string
          enum: [free, pro, enterprise]
        status:
          type: string
          enum: [active, past_due, canceled, expired]

    TierFeatures:
      type: object
      properties:
        maxDesignsPerMonth:
          type: integer
        maxStorageGB:
          type: number
        priorityQueue:
          type: boolean
        advancedExports:
          type: boolean
        apiAccess:
          type: boolean
        customTemplates:
          type: boolean

    # --------------------------------------------------------------------------
    # Templates
    # --------------------------------------------------------------------------
    Template:
      type: object
      properties:
        id:
          type: string
          format: uuid
        name:
          type: string
        slug:
          type: string
        category:
          type: string
        description:
          type: string
        thumbnailUrl:
          type: string
          format: uri
        tierRequired:
          type: string
          enum: [free, pro, enterprise]

    TemplateDetail:
      allOf:
        - $ref: '#/components/schemas/Template'
        - type: object
          properties:
            parameters:
              type: object
              additionalProperties:
                $ref: '#/components/schemas/ParameterDefinition'
            previewUrl:
              type: string
              format: uri
            usageCount:
              type: integer

    ParameterDefinition:
      type: object
      properties:
        type:
          type: string
          enum: [number, enum, boolean, string]
        label:
          type: string
        description:
          type: string
        default:
          oneOf:
            - type: number
            - type: string
            - type: boolean
        min:
          type: number
        max:
          type: number
        step:
          type: number
        unit:
          type: string
        options:
          type: array
          items:
            type: string
        required:
          type: boolean
          default: true

    # --------------------------------------------------------------------------
    # Designs
    # --------------------------------------------------------------------------
    DesignSummary:
      type: object
      properties:
        id:
          type: string
          format: uuid
        name:
          type: string
        thumbnailUrl:
          type: string
          format: uri
        status:
          type: string
          enum: [draft, processing, ready, failed, archived]
        sourceType:
          type: string
          enum: [template, ai_generated, imported, modified]
        currentVersionNumber:
          type: integer
        updatedAt:
          type: string
          format: date-time

    Design:
      type: object
      properties:
        id:
          type: string
          format: uuid
        projectId:
          type: string
          format: uuid
        templateId:
          type: string
          format: uuid
          nullable: true
        name:
          type: string
        description:
          type: string
        sourceType:
          type: string
          enum: [template, ai_generated, imported, modified]
        status:
          type: string
          enum: [draft, processing, ready, failed, archived]
        currentVersion:
          $ref: '#/components/schemas/DesignVersion'
        metadata:
          type: object
          properties:
            parameters:
              type: object
            aiPrompt:
              type: string
            dimensions:
              type: object
              properties:
                x:
                  type: number
                y:
                  type: number
                z:
                  type: number
                unit:
                  type: string
            volume:
              type: number
            surfaceArea:
              type: number
            isPrintable:
              type: boolean
        tags:
          type: array
          items:
            type: string
        isPublic:
          type: boolean
        createdAt:
          type: string
          format: date-time
        updatedAt:
          type: string
          format: date-time

    DesignVersion:
      type: object
      properties:
        id:
          type: string
          format: uuid
        versionNumber:
          type: integer
        fileUrl:
          type: string
          format: uri
        thumbnailUrl:
          type: string
          format: uri
        fileFormats:
          type: object
          additionalProperties:
            type: string
            format: uri
        parameters:
          type: object
        geometryInfo:
          type: object
          properties:
            boundingBox:
              type: object
              properties:
                x:
                  type: number
                y:
                  type: number
                z:
                  type: number
            volume:
              type: number
            surfaceArea:
              type: number
            triangleCount:
              type: integer
            isManifold:
              type: boolean
        changeDescription:
          type: string
        createdAt:
          type: string
          format: date-time

    CreateDesignFromTemplate:
      type: object
      required: [sourceType, templateId, name, projectId, parameters]
      properties:
        sourceType:
          type: string
          enum: [template]
        templateId:
          type: string
          format: uuid
        name:
          type: string
          maxLength: 255
        projectId:
          type: string
          format: uuid
        parameters:
          type: object
          additionalProperties: true
        description:
          type: string

    CreateDesignFromDescription:
      type: object
      required: [sourceType, name, projectId, description]
      properties:
        sourceType:
          type: string
          enum: [ai_generated]
        name:
          type: string
          maxLength: 255
        projectId:
          type: string
          format: uuid
        description:
          type: string
          minLength: 10
          maxLength: 2000
          description: Natural language description of the part to generate

    # --------------------------------------------------------------------------
    # Jobs
    # --------------------------------------------------------------------------
    Job:
      type: object
      properties:
        id:
          type: string
          format: uuid
        type:
          type: string
          enum: [generate, modify, export, import, thumbnail]
        status:
          type: string
          enum: [pending, queued, processing, completed, failed, cancelled, timeout]
        progress:
          type: integer
          minimum: 0
          maximum: 100
        progressMessage:
          type: string
        designId:
          type: string
          format: uuid
          nullable: true
        result:
          type: object
          nullable: true
          properties:
            designId:
              type: string
              format: uuid
            versionId:
              type: string
              format: uuid
            downloadUrl:
              type: string
              format: uri
        error:
          type: object
          nullable: true
          properties:
            code:
              type: string
            message:
              type: string
        createdAt:
          type: string
          format: date-time
        startedAt:
          type: string
          format: date-time
          nullable: true
        completedAt:
          type: string
          format: date-time
          nullable: true
        estimatedCompletion:
          type: string
          format: date-time
          nullable: true

    # --------------------------------------------------------------------------
    # Projects
    # --------------------------------------------------------------------------
    Project:
      type: object
      properties:
        id:
          type: string
          format: uuid
        name:
          type: string
        description:
          type: string
        designCount:
          type: integer
        createdAt:
          type: string
          format: date-time
        updatedAt:
          type: string
          format: date-time

    # --------------------------------------------------------------------------
    # Common
    # --------------------------------------------------------------------------
    Pagination:
      type: object
      properties:
        page:
          type: integer
        limit:
          type: integer
        total:
          type: integer
        totalPages:
          type: integer
        hasNext:
          type: boolean
        hasPrev:
          type: boolean

    Error:
      type: object
      properties:
        error:
          type: object
          properties:
            code:
              type: string
            message:
              type: string
            details:
              type: object
            requestId:
              type: string

  responses:
    BadRequest:
      description: Invalid request parameters
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
          example:
            error:
              code: VALIDATION_ERROR
              message: Request validation failed
              details:
                email: Invalid email format

    Unauthorized:
      description: Authentication required or token expired
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
          example:
            error:
              code: UNAUTHORIZED
              message: Invalid or expired token

    Forbidden:
      description: Insufficient permissions
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
          example:
            error:
              code: FORBIDDEN
              message: You don't have permission to access this resource

    NotFound:
      description: Resource not found
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
          example:
            error:
              code: NOT_FOUND
              message: Resource not found

    RateLimited:
      description: Rate limit exceeded
      headers:
        Retry-After:
          schema:
            type: integer
          description: Seconds until rate limit resets
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
          example:
            error:
              code: RATE_LIMITED
              message: Too many requests. Please try again later.

security:
  - bearerAuth: []

# =============================================================================
# WebSocket API Documentation
# =============================================================================
x-websocket:
  url: wss://api.aipartdesigner.com/ws
  description: |
    Real-time WebSocket connection for job progress and notifications.
    
    ## Connection
    Connect to `/ws?token=<jwt_token>` with a valid JWT token.
    
    ## Authentication
    The JWT token must be passed as a query parameter.
    
    ## Message Format
    All messages are JSON objects with a `type` field.
    
  messages:
    # Client -> Server
    subscribe:
      description: Subscribe to updates for a specific resource
      payload:
        type: object
        properties:
          type:
            type: string
            const: subscribe
          resource:
            type: string
            enum: [jobs, notifications]
          resourceId:
            type: string
            description: Optional ID for specific resource
        example:
          type: subscribe
          resource: jobs
          resourceId: job_123

    unsubscribe:
      description: Unsubscribe from updates
      payload:
        type: object
        properties:
          type:
            type: string
            const: unsubscribe
          resource:
            type: string
            enum: [jobs, notifications]
        example:
          type: unsubscribe
          resource: jobs

    ping:
      description: Keepalive ping
      payload:
        type: object
        properties:
          type:
            type: string
            const: ping
        example:
          type: ping

    # Server -> Client
    job_progress:
      description: Job progress update
      payload:
        type: object
        properties:
          type:
            type: string
            const: job_progress
          jobId:
            type: string
          status:
            type: string
            enum: [pending, running, completed, failed]
          progress:
            type: number
            minimum: 0
            maximum: 100
          step:
            type: string
            description: Current processing step
        example:
          type: job_progress
          jobId: job_123
          status: running
          progress: 45
          step: Generating CAD model...

    job_complete:
      description: Job completion notification
      payload:
        type: object
        properties:
          type:
            type: string
            const: job_complete
          jobId:
            type: string
          designId:
            type: string
          previewUrl:
            type: string
            format: uri
        example:
          type: job_complete
          jobId: job_123
          designId: design_456
          previewUrl: /uploads/designs/preview.glb

    job_failed:
      description: Job failure notification
      payload:
        type: object
        properties:
          type:
            type: string
            const: job_failed
          jobId:
            type: string
          error:
            type: string
        example:
          type: job_failed
          jobId: job_123
          error: Generation failed due to invalid parameters

    notification:
      description: User notification
      payload:
        type: object
        properties:
          type:
            type: string
            const: notification
          id:
            type: string
          title:
            type: string
          message:
            type: string
          category:
            type: string
            enum: [job, comment, share, system]
          createdAt:
            type: string
            format: date-time
        example:
          type: notification
          id: notif_789
          title: Design Ready
          message: Your motor mount design is ready for download
          category: job
          createdAt: "2026-01-26T12:00:00Z"

    pong:
      description: Keepalive pong response
      payload:
        type: object
        properties:
          type:
            type: string
            const: pong
        example:
          type: pong

    error:
      description: WebSocket error
      payload:
        type: object
        properties:
          type:
            type: string
            const: error
          code:
            type: string
          message:
            type: string
        example:
          type: error
          code: UNAUTHORIZED
          message: Invalid or expired token

